---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
import LinksWithIcon from "../components/LinksWithIcon.astro";
---

<Layout
  title="Kjetil Jerve - piano and synth player, composer, arranger and producer based in Oslo, Norway"
>
  <header>
    <h1>Kjetil Jerve</h1>
  </header>
  <main>
    <Links title="Tour" href="https://bnds.us/j0gvg3" />
    <Links
      title="YouTube"
      href="https://music.youtube.com/channel/UCac2EDL1Hm2G8vTwOFFB5Nw?si=gkV-yLr15G1dO8L-/"
    />
    <Links title="Instagram" href="https://www.instagram.com/kjetiljerve/" />
    <Links title="Facebook" href="https://www.facebook.com/kjetiljerve/" />
    <Links
      title="Spotify"
      href="https://open.spotify.com/artist/1LdI3wdD3YgxQnTTVbqR9A"
    />
    <Links
      title="Apple Music"
      href="https://music.apple.com/us/artist/kjetil-jerve/706040332"
    />
    <Links title="Bandsintown" href="https://www.bandsintown.com/a/15557200" />
    <Links title="Bandcamp" href="https://dugnadrec.bandcamp.com/" />
    <Links title="Read more..." href="https://kjetiljerve.weebly.com" />
  </main>
</Layout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

  :root {
    --primary: #1b2130;
    --font: #d4dbca;
  }

  /* ---HEADER--- */
  h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: var(--font);
  }

  header {
    display: flex;
    justify-content: center;
  }

  h1 {
    white-space: nowrap;
  }

  @media screen and (min-width: 150px) and (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 790px) {
    h1 {
      font-size: 4rem;
    }
  }

  @media screen and (not (prefers-reduced-motion)) {
    h1 {
      transition: font-size 2s 500ms;
    }
  }

  /* ---End of HEADER--- */
  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* --- LINKS --- */

  main .link {
    padding: 20px;
    border: 1px solid var(--font);
    max-width: 300px;
    display: flex;
    justify-content: center;
    border-width: thick;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 0.7px;
  }
  a {
    color: var(--font);

    text-decoration: none;
    max-width: 30px;
  }

  .link_wrapper {
    align-self: center;
    max-width: 300px;
    min-width: 150px;
  }

  .link_wrapper:hover {
    background-color: rgba(255, 255, 255, 0.143);
  }

  /* --- End of LINKS --- */
</style>
