---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.astro";
---

<Layout title="Kjetil Jerve">
  <header>
    <h1>Kjetil Jerve</h1>
  </header>
  <main>
    <Links title="Tour" href="https://bnds.us/j0gvg3" />
    <Links title="Bandsintown" href="https://www.bandsintown.com/a/15557200" />
    <Links title="Instagram" href="https://www.instagram.com/kjetiljerve/" />
    <Links title="Facebook" href="https://www.facebook.com/kjetiljerve/" />
    <Links
      title="Spotify"
      href="https://open.spotify.com/artist/1LdI3wdD3YgxQnTTVbqR9A"
    />
    <Links
      title="Apple Music"
      href="https://music.apple.com/us/artist/kjetil-jerve/706040332"
    />
    <Links title="Bandcamp" href="https://dugnadrec.bandcamp.com/" />
    <Links title="Read more..." href="https://kjetiljerve.com/home/" />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }

  /* Mobile View */
  @media screen and (min-width: 250px) and (max-width: 480px) {
    main {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  /* Tablet View */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    main {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  /* Laptop View */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .widget {
    margin-top: 20px;
  }

  .left {
    /*min-width: 30vw;*/
  }
</style>
