---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<div class="link_wrapper">
  <a href={href} target="_blank">
    <div class="link">
      <span>{title}</span>
    </div>
  </a>
</div>
