---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kjetil Jerve - piano and synth player, composer, arranger and producer based in Oslo, Norway.
      
      Kjetil Jerve is a pianist and keyboard player distinguished for his inventive approach to jazz and contemporary music. His deep passion for improvisation and command of diverse musical expressions have earned him recognition in Norway and internationally. His work spans influences from classic jazz and traditional forms to club and electroacoustic experiments.

As a composer, producer, and co-founder of the record label Dugnad rec, Jerve integrates esoteric practice into his sonic environments that develop from spiritual and philosophical exploration. This alchemy creates a moving and soulful sound driven by polyphonic creativity.

Recognized as one of Norway's most forward-thinking pianists, Jerve navigates diverse musical landscapes in his dedication to artistic discovery. His work invites listeners to engage with a broader perspective."
    />
    <meta name="author" content="Sabina Niewiadomska" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dugnac.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
  :root {
    --primary: #1b2130;
    --font: #d4dbca;
  }
  html {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    background: var(--primary);
    color: var(--font);
    background-image: url("../../public/background.svg");
    padding-bottom: 80px;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* h/t Scott O'Hara https://css-tricks.com/inclusively-hidden/ */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
  }
</style>
